<?xml version="1.0" encoding="utf-8"?>
<plugin
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-hello-kotlin"
        version="0.1.0">

  <name>Hello Kotlin</name>
	<author email="andreszs@gihub.com">Andres Zsögön</author>

  <engines>
		<engine name="cordova" version=">=9.0.0"/>
  </engines>

	<js-module name="HelloKotlin" src="www/hellokotlin.js">
		<clobbers target="cordova.plugins.HelloKotlin" />
  </js-module>

	<platform name="android">
    <config-file target="config.xml" parent="/*">
			<preference name="GradlePluginKotlinEnabled" value="true" />
			<preference name="GradlePluginKotlinVersion" value="1.5.20" />
		</config-file>

		<config-file target="res/xml/config.xml" parent="/*">
      <feature name="HelloKotlin">
				<param name="android-package" value="com.andreszs.hellokotlin.HelloKotlin"/>
      </feature>
    </config-file>

		<source-file src="src/HelloKotlin.kt" target-dir="app/src/main/kotlin/hellokotlin"/>
  </platform>
</plugin>
